
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
asst/*
media/*
static/*
app/migrations/*
.vscode/*
.vscode/*
.vscode/*
.vscode/*

# End of https://www.gitignore.io/api/visualstudiocode